html {
  font-size: 100%;
}

body,
body > #__next,
body > #__next > .container {
  min-height: calc(100vh - 46px);
}

body {
  font-size: 1.5rem;
  font-family: 'Space Grotesk', serif;
  color: black;
  margin: 20px;
  border: black 3px solid;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 85%;
  }
  body {
    margin: 5px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 380px) {
  html {
    font-size: 75%;
  }
  body {
    margin: 1px;
    border: black 4px solid;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h1,
section > :first-child {
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

ul,
ol {
  list-style-position: inside;
}

@media only screen and (max-width: 600px) {
  h1,
  section > :first-child {
    font-size: 3.2rem;
    margin-bottom: 10px;
  }
}

:not(nav) > ul,
:not(nav) > ol {
  margin-bottom: 20px;
}

p + ul,
p + ol {
  margin-top: -10px;
}

:not(nav) > ul li,
ol li {
  margin-bottom: 5px;
}

p,
section li,
button {
  font-family: 'Piazzolla', serif;
  margin-bottom: 20px;
}

a {
  color: palevioletred;
  padding: 0 1px;
}

a:focus,
a:hover {
  outline: 3px solid transparent;
  color: white !important;
  background-color: palevioletred;
  -webkit-box-shadow: 3px -4px black;
  box-shadow: 3px -4px black;
  text-decoration: underline;
}

.logo a:focus,
.logo a:hover {
  background-color: crimson;
}

a:focus path,
a:hover path {
  fill: white;
}

section {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

/* details / summary */
main details {
  border: 2px solid #e2e2e2;
  border-radius: 3px;
  margin-bottom: 20px;
}

main summary {
  font-family: 'Piazzolla', serif;
  cursor: pointer;
  background: #f0f0f0;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid transparent;
  outline-color: palevioletred;
}

main details[open] summary {
  border-bottom: 2px solid #e2e2e2;
}

main details .details-container {
  padding: 15px 10px;
}

main details table {
  width: 100%;
}

main details th[scope='col'] {
  text-align: right;
}

main details th[scope='row'] {
  max-width: 25%;
}

/* tables */
.table-container {
  overflow-x: auto;
}

table {
  border: 2px solid #2e2e2e;
  border-collapse: collapse;
  font-size: 80%;
}

table caption {
  text-align: left;
  font-weight: 600;
}

tr:nth-child(odd) {
  background-color: #f0f0f0;
}

td,
th {
  border-bottom: 2px solid #2e2e2e;
  border-collapse: separate;
  padding: 5px;
}

th {
  text-align: left;
  font-weight: 500;
}

td {
  text-align: right;
}

/* for small screens */
@media only screen and (max-width: 600px) {
  section > h1 ~ figure > .chart,
  section > h2 ~ figure > .chart {
    width: 93%;
    margin-left: 7%;
  }

  .hide-on-mobile {
    display: none;
  }

  .hide-on-desktop {
    display: initial;
  }
}

@media only screen and (min-width: 600px) {
  section > h1 ~ *,
  section > h2 ~ * {
    width: 67%;
    align-self: flex-end;
  }

  /* Graphs are 1 column on med screens */
  section > h1 ~ figure > .chart,
  section > h2 ~ figure > .chart {
    width: 138%;
    margin-left: -38%;
  }

  .aside {
    width: 28%;
    position: absolute;
    left: 0;
    top: 125px;
  }

  .hide-on-mobile {
    display: initial;
  }

  .hide-on-desktop {
    display: none;
  }
}

/* for big screens: Graphs are 2/3 column  */
@media only screen and (min-width: 900px) {
  section > h1 ~ figure > .chart,
  section > h2 ~ figure > .chart {
    width: 100%;
    margin-left: 0;
  }
}

.chart .VictoryContainer > svg {
  overflow: visible;
}

@media only screen and (max-width: 900px) {
  header > nav > ul {
    display: none;
  }

  header > nav > details {
    display: inline-block;
  }

  header > nav > details > ul[class] {
    margin-top: 15px;
  }
}

@media only screen and (min-width: 900px) {
  header > nav > ul {
    display: inline-block;
  }

  header > nav > details {
    display: none;
  }
}

.smalltext {
  margin-bottom: 10px;
  font-size: 1.3rem;
}

@media only screen and (max-width: 380px) {
  .smalltext {
    font-size: 1.5rem;
  }
}

.visuallyHidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
}
