html {
  font-size: 100%;
}

body,
body > #__next,
body > #__next > .container {
  min-height: calc(100vh - 46px);
}

body {
  font-size: 1.5rem;
  font-family: 'Space Grotesk', serif;
  color: black;
  margin: 20px;
  border: black 3px solid;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 90%;
  }
  body {
    margin: 5px;
  }
}

@media only screen and (max-width: 380px) {
  html {
    font-size: 80%;
  }
  body {
    margin: 1px;
    border: black 4px solid;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

h1,
section > :first-child {
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  h1,
  section > :first-child {
    font-size: 3.2rem;
    margin-bottom: 10px;
  }
}

:not(nav) > ul,
:not(nav) > ol {
  margin-bottom: 20px;
}

p + ul,
p + ol {
  margin-top: -10px;
}

:not(nav) > ul li,
ol li {
  margin-bottom: 5px;
}

p,
section li {
  font-family: 'Piazzolla', serif;
  margin-bottom: 20px;
}

a {
  color: palevioletred;
  padding: 0 1px;
}

a:focus,
a:hover {
  outline: 3px solid transparent;
  color: white !important;
  background-color: palevioletred;
  -webkit-box-shadow: 3px -4px black;
  box-shadow: 3px -4px black;
  text-decoration: underline;
}

.logo a:focus,
.logo a:hover {
  background-color: crimson;
}

a:focus path,
a:hover path {
  fill: white;
}

section {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

/* for small screens */
@media only screen and (max-width: 600px) {
  section > h1 ~ figure > .chart,
  section > h2 ~ figure > .chart {
    width: 122%;
    margin-left: -9%;
  }

  .hide-on-mobile {
    display: none;
  }

  .hide-on-desktop {
    display: initial;
  }
}

@media only screen and (min-width: 600px) {
  section > h1 ~ *,
  section > h2 ~ * {
    width: 67%;
    align-self: flex-end;
  }

  /* Graphs are 1 column on med screens */
  section > h1 ~ figure > .chart,
  section > h2 ~ figure > .chart {
    width: 180%;
    margin-left: -62%;
  }

  .aside {
    width: 28%;
    position: absolute;
    left: 0;
    top: 125px;
  }

  .hide-on-mobile {
    display: initial;
  }

  .hide-on-desktop {
    display: none;
  }
}

/* For big screens: Graphs are 2/3 column */
@media only screen and (min-width: 900px) {
  section > h1 ~ figure > .chart,
  section > h2 ~ figure > .chart {
    width: 130%;
    margin-left: -17.5%;
  }
}

@media only screen and (max-width: 600px) {
  header > nav > ul {
    display: none;
  }

  header > nav > details {
    display: inline-block;
  }

  header > nav > details > ul[class] {
    margin-top: 15px;
  }
}

@media only screen and (min-width: 600px) {
  header > nav > ul {
    display: inline-block;
  }

  header > nav > details {
    display: none;
  }
}

.smalltext {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.visuallyHidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
}
